<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel="shortcut icon" href=""> <!-- Para colocar icone da aba -->
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="static/default.css" rel="stylesheet" type="text/css" />
	<link href="static/fonts.css" rel="stylesheet" type="text/css" media="all" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div id="page" class="container">
		<div id="header">
			<div id="logo">
				<img src="" alt="" />
				<h1><a href="#">Privy</a></h1>
				<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
			</div>
			<div id="menu">
				<h3 id="title-left">FILTROS:</h3> 
				<ul>
					<li class="current_page_item">
						<strong>Negativo</strong>
						<br />
						<button class="non-filter" id="non-negative" disabled="disabled">Undo</button>
						<button class="filter" id="negative" disabled="disabled">Do</button>
					</li>
					<li>
						<strong>Logarithm</strong>
						<br />
						<button class="non-filter" id="non-log" disabled="disabled">Undo</button>
						<button class="filter" id="log" disabled="disabled">Do</button>
					</li>
					<li>
						<strong>Power</strong>
						<br />
						<button class="non-filter" id="non-power" disabled="disabled">Undo</button>
						<button class="filter" id="power" disabled="disabled">Do</button>
					</li>
					<li>
						<strong>Histogram</strong>
						<br />
						<button class="non-filter" id="non-histogram" disabled="disabled">Undo</button>
						<button class="filter" id="histogram" disabled="disabled">Do</button>
					</li>
					<li>
						<strong>Convolution</strong>
						<br />
						<br />
						<label for="convolution-text" class="label-filters">Matriz: </label>
						<textarea id="convolution-text" rows="4" cols="10">[[-1,0,1],[-2,0,2],[-1,0,1]]</textarea>
						<br />
						<br />
						<button class="non-filter" id="non-convolution" disabled="disabled">Undo</button>
						<button class="filter-with-text" id="convolution" disabled="disabled">Do</button>
					</li>
					<li>
						<strong>Mean</strong>
						<br />
						<br />
						<label class="label-filters">Dimensão do filtro: </label>
						<select id="mean-text">
							<option value="3">3</option>
							<option value="5">5</option>
							<option value="7">7</option>
							<option value="9">9</option>
							<option value="11">11</option>
							<option value="13">13</option>
							<option value="15">15</option>
						</select>
						<br />
						<br />
						<button class="non-filter" id="non-mean" disabled="disabled">Undo</button>
						<button class="filter-with-text" id="mean" disabled="disabled">Do</button>
					</li>
  					<li>
						<strong>Median</strong>
						<br />
						<br />
						<label class="label-filters">Dimensão do filtro: </label>
						<select id="median-text">
							<option value="3">3</option>
							<option value="5">5</option>
							<option value="7">7</option>
							<option value="9">9</option>
							<option value="11">11</option>
							<option value="13">13</option>
							<option value="15">15</option>
						</select>
						<br />
						<br />
						<button class="non-filter" id="non-median" disabled="disabled">Undo</button>
						<button class="filter-with-text" id="median" disabled="disabled">Do</button>
					</li>
					<li>
						<strong>Laplacian</strong>
						<br /><br>
						<div class="filter-form">						
							<label class="label-filters">Dimensão do filtro: </label>
							<select id="laplacian-n">
								<option value="3">3</option>
								<option value="5">5</option>
								<option value="7">7</option>
								<option value="9">9</option>
								<option value="11">11</option>
								<option value="13">13</option>
								<option value="15">15</option>
							</select>
							<br>
							<br>
							<label class="label-filters">Sigma: </label>
							<textarea id="laplacian-sigma" rows="1" cols="5">0.5</textarea>
						</div>
						<br>
						<br>
						<button class="non-filter" id="non-laplacian" disabled="disabled">Undo</button>
						<button class="filter-with-text" id="laplacian" disabled="disabled">Do</button>
					</li>
					<li>
						<strong>Gaussian</strong>
						<br />
						<br>
						<div class="filter-form">						
							<label class="label-filters">Dimensão do filtro: </label>
							<select id="gaussian-n">
								<option value="3">3</option>
								<option value="5">5</option>
								<option value="7">7</option>
								<option value="9">9</option>
								<option value="11">11</option>
								<option value="13">13</option>
								<option value="15">15</option>
							</select>
							<br>
							<br>
							<label class="label-filters">Sigma: </label>
							<textarea id="gaussian-sigma" rows="1" cols="5">1.5</textarea>

						</div>
						<br>
						<br>
						<button class="non-filter" id="non-gaussian" disabled="disabled">Undo</button>
						<button class="filter-with-text" id="gaussian" disabled="disabled">Do</button>
					</li>
					<li>
						<strong>Highboost</strong>
						<br />
						<br>
						<div class="filter-form">						
							<label class="label-filters">Constante do filtro: </label>
							<textarea id="highboost-text" type="number" cols="5" rows="1" min="0" max="1"> </textarea>
						</div>
						<br>
						<br>
						<button class="non-filter" id="non-highboost" disabled="disabled">Undo</button>
						<button class="filter-with-text" id="highboost" disabled="disabled">Do</button>
					</li>
					<li>
						<strong>Sobel</strong>
						<br />
						<button class="non-filter" id="non-sobel" disabled="disabled">Undo</button>
						<button class="filter" id="sobel" disabled="disabled">Do</button>
					</li>
					<li>
						<strong>Two points</strong>
						<br>
						<br />
						<label class="label-filters" id="label-x">X</label>
						<label class="label-filters" id="label-y">Y</label>
						<br>
						<label class="label-filters">Point 1: </label>
						<textarea class="two_points_text" id="two_points-p1x" type="number" cols="5" rows="1">0</textarea>
						<textarea class="two_points_text" id="two_points-p1y" type="number" cols="5" rows="1">0</textarea>
						<br>
						<label class="label-filters">Point 2: </label>
						<textarea class="two_points_text" id="two_points-p2x" type="number" cols="5" rows="1">0</textarea>
						<textarea class="two_points_text" id="two_points-p2y" type="number" cols="5" rows="1">0</textarea>
						<br>
						<br>
						<div id="divGraph">
							<canvas id="myGraph" width="150" height="150"></canvas>
						</div>
						<br>
						<br>
						<button class="non-filter" id="non-two_points" disabled="disabled">Undo</button>
						<button class="filter" id="two_points" disabled="disabled">Do</button>
					</li>
					<li><a href="#" accesskey="3" title="">NOVO FILTRO</a></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<div id="welcome">
				<div class="title" >
					<h1>Bem - vindo!!</h1>
					<span class="byline">Envie sua foto abaixo para começar a editá-la.</span>
				</div>
				<h3> Faça upload da imagem:  </h3>
					<form id="form">
				        <input type = "file" id="file" name = "file" accept=".png, .jpg, .jpeg, .tif"/>
				        <input type="submit" class="submit" id="submit" value="Submit"/>
				    </form>
		    	<br>
				<div id="featured">
					<div id="img_container">
						<br>
				    	<img src="" id="imageid" alt="image" >
				    	<br>
				    	<br>
				    </div>

					<div id="copyright">
						<br>
					    <br>

						<div id="img-info">
							<div class="topic">
				    			HISTOGRAMA
				    		</div>
				    	<br>
				    	<button id="calc-histogram" disabled="disabled">Calculate</button>
				    	<br>
				    	<br>
				    	<img src="" id="image-histogram" alt="histogram" width="500px">
				    	<br>
				    	<br>
				    </div> 

						<span>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a></span>
						<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
					</div> 
				</div>
			</div>
		</div>
	<script src="{{ url_for('static', filename='scripts/script.js') }}">
	</script>
</body>
</html>
